@font-face{
    font-family: 'Inter';
    src: url('fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('trueType');
}

@font-face {
    font-family: 'Antonio';
    src: url('fonts/Antonio/static/Antonio-Bold.ttf') format('truetype');
}

h2, h3, .description, fa-instagram, .fa-linkedin{
  font-family:'Antonio';
}

h1, nav, span, p, .about_title{
  font-family:'Inter';
}

.fa-instagram{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer, .description{
  background: linear-gradient(120deg, #3d3d3d 0%, #000 30%, #000 60%, #3d3d3d 100%);
}

#correo {
  position: absolute;
}





